files:
  /etc/pki/tls/certs/server.crt:
    content: |
      -----BEGIN CERTIFICATE-----
      4B:B2:CD:E8:C7:8B:66:99:79:36:0D:6D:BC:7F:58:E8:E0:5D:DA:9D:F5:61:ED:C2:EB:02:E9:72:4F:D6:C2:71
      -----END CERTIFICATE-----

  /etc/pki/tls/certs/server.key:
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      foobar
      -----END RSA PRIVATE KEY-----

container_commands:
  01restart_nginx:
    command: "service nginx restart"